.app {
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  gap: 2rem;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section .section-header {
  border-bottom: 1px solid var(--border);
  border-radius: 0.5rem;
  padding-bottom: 0.2rem;
}

.section .section-columns {
  display: flex;
  gap: 2rem;
}

label {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  color: var(--light-gray);
  display: flex;
}

input:not([type="checkbox"]),
select {
  margin-bottom: 0.75rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
  background-color: var(--deep-blue);
  color: white !important;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.wrapper input {
  flex: 1;
}

.settings {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.settings .hmac-wrapper {
  border: 1px solid var(--separator-line);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.settings .hmac-wrapper summary {
  margin-bottom: 0.5rem;
  color: var(--light-gray);
  padding-left: 0.3rem;
}

.settings .hmac-content {
  display: flex;
  flex-direction: column;
}
